.the-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-container {
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  align-items: center;
}
.google-map-container {
  //display: grid;
  grid-template-columns: 60vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.place-option {
  margin: 0 auto;
  text-align: center;

  justify-content: center;
  align-items: center;
}

.place-image-option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img-place {
  width: 200px;
  height: 200px;

  @media screen and (max-width: 700px) {
    width: 150px;
    height: 100px;
  }
}

.under-map {
  margin: auto;
  text-align: center;
  align-items: center !important;
}

.images {
  display: flex;
  flex-direction: 'row';
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    margin-left: 60px;
  }
}
