.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 25px;

  text-decoration: none;
  padding: 5px;

  // @media screen and (max-width: 800px) {
  //   padding: 10px;
  //   height: 60px;
  //   margin-bottom: 20px;
  // }

  // @media screen and (max-width: 800px) {
  //   width: 30px;
  //   padding: 0;
  //}

  .logo-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 25px;

    .option {
      padding: 10px 10px;
      cursor: pointer;
      text-decoration: none;
      &:link,
      h2 {
        text-decoration: none;
        margin-left: 2px;
      }
    }
  }

  .options {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;

    @media screen and (max-width: 700px) {
      width: 50%;
      padding: 10px;
      margin-bottom: 30px;
    }
    .option {
      padding: 15px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .site-title {
    margin-top: 30px;
    margin-left: -20px;
    font-size: 30px;
    color: #1c9aae;
    font-weight: 700;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  @media screen and (max-width: 600) {
    font-size: 10px;
  }
}
.create-place-button {
  background-color: #1c9aae;
  color: white;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  @media screen and (max-width: 900px) {
    font-size: 15px;
  }
}
