.photoUser {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.loggedIn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.link-logout {
  font-size: 20px;
}
.my-profile-tag {
  margin-bottom: -2px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;

  @media screen and (max-width: 700px) {
    margin-top: -10px;
  }
}

.photoUser {
  margin-top: -20px;
  margin-left: 10px;
}
