.myprofile-container {
  display: grid;
  grid-template-columns: 200px 400px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

// .photoProfile {
//   height: 150px;
//   border-radius: 50%;
// }

.myprofile-update {
  font-size: 20px;
  margin-top: 10px;
}
.myplaces-container {
  margin-top: -10px;
  background-color: #eee;
  text-align: center;
  justify-content: center;
}

.img-place {
  width: 100px;
}
